{% extends "base.html" %} 
{% load static %}
{% block title %}home{% endblock title %}
{% block content %}

<link rel="stylesheet" href="css/home.css">

<h1>page is working</h1>

<hr>

<p>this is the homepage and it will be used for home</p>


<h1>checking Social authentication...</h1>
<div class="container" style="text-align: center; padding-top: 10%;">
    {% if user.is_authenticated %}
        <h3>Welcome {{ user.email }}</h3>
    
        
        
    {% endif %}

</div>

{% endblock content %}
